html, a, button{
	cursor: url(../img/technical/night-cursor.svg), pointer;
}
html{
min-height: 100vh;
}
body{
	background-position-x: center;
	background-position-y: center;
	background-color: #000;
	background-image: url(../img/technical/night-bg.svg);
	color: #ffc000ff;
}
button{
	outline: none;
	border: none;
	color: #ffc000ff;
	font-weight: 900;
	padding: 0.5rem;
	border-radius: 2rem;
	background-color: #000810ff;
}
header{
	padding: 0.5rem;
	background-color: #000000ff;
}
#familytree{
	width: 75%;
	padding: 0.5rem;
	box-sizing: border-box;
	margin:10px auto auto;
	border-width: 1px;
	border-style:solid;
	border-radius: 5px;
	border-color: #ffc000ff;
	background-color: #001020c0;
}
#familytree::selection{
	background-color: #ffc000ff;
	color: #001020c0;
}