* {
	cursor: url(../img/technical/cursor.svg), pointer;

	&:hover,
	&:active {
		cursor: url(../img/technical/-cursor.svg), pointer;
	}
}

body {
	background-color: $lightwhite;
	background-image: url(../img/technical/bg.svg);

	main {
		color: $black;
	}
}

button {
	color: $yellow;
	background-color: $darkblue;
}

header,
footer {
	color: $yellow;
	background-color: $mediumblue;
}

#familytree {
	border-color: $yellow;
	background-color: $sheerblue;
	color: $yellow;

	&::selection {
		background-color: $yellow;
		color: $sheerdark;
	}
}