footer {
	position: fixed;
	padding: 1rem;
	box-sizing: border-box;
	width: 100vw;
	bottom: 0;

	div {
		width: calc(100% - 2rem);
	}
}

@media screen and (min-width:1366px) {
	footer {
		div {
			max-width: 1200px;
			margin: auto;
		}
	}
}

@media screen and (min-width:1920px) {
	footer {
		div {
			max-width: 1800px;
			margin: auto;
		}
	}
}