header {
	position: fixed;
	top: 0;
	width: 100vw;
	padding: 1rem;
	height: 90px;
	box-sizing: border-box;

	img {
		height: 100%;
	}

	button {
		float: right;
	}

	* {
		box-sizing: border-box;
	}
}

@media screen and (min-width:1366px) {
	header {
		div {
			max-width: 1200px;
			margin-left: calc(calc(100% - 1200px) / 2);
			margin-right: calc(calc(100% - 1200px) / 2);
		}
	}
}

@media screen and (min-width:1920px) {
	header {
		div {
			max-width: 1800px;
			margin-left: calc(calc(100% - 1800px) / 2);
			margin-right: calc(calc(100% - 1800px) / 2);
		}
	}
}