body {
	min-height: 100vh;
	background-position-x: center;
	background-position-y: center;

	main {
		width: calc(100% - 32px);
		margin: 106px auto 64px;
	}
}

ul,
ol {
	padding: 0 0.75rem;
	box-sizing: border-box;
}

.blur {
	@extend %blur;
}

@media screen and (min-width:1366px) {
	main {
		max-width: 1080px;
	}
}

@media screen and (min-width:1920px) {
	main {
		max-width: 1366px;
		margin: auto;
	}
}