body {
	min-height: 100vh;
	background-position-x: center;
	background-position-y: center;
}

@media screen and (min-width:1366px) {
	main {
		max-width: 1080px;
		margin: auto;
	}
}

@media screen and (min-width:1920px) {
	main {
		max-width: 1366px;
		margin: auto;
	}
}