* {
	font-family: bahnschrift;
	font-stretch: semi-condensed;
}

h1 {
	font-stretch: extra-condensed;
	font-size: 2rem;
}

sup {
	font-size: 0.75em;
	vertical-align: super;
}

a {
	font-weight: 200;
}

i {
	font-style: italic;
}

b {
	font-weight: 700;
}

u {
	text-decoration: underline;
}

.references {
	width: 75%;
	margin: 10px auto auto;

	li {
		list-style: decimal;
	}

}