* {
	font-family: bahnschrift;
	font-stretch: semi-condensed;
	font-weight: 200;
}

h1 {
	font-stretch: extra-condensed;
	font-size: 2rem;
}

sup {
	font-size: 0.75em;
	vertical-align: super;
}

a {
	&:hover {
		font-weight: 900;
	}
}